body {background-color: bisque;
     }

ul {list-style-type: none;
     
}

ul li {display: inline;
	background-color: yellow;
     padding: 16px;     
	
}

.header {background-image: url("sunflower-8484265_1280.jpg");
	text-align: center;
	color: burlywood;
	height: 100px;
	padding-top: 5px;


}


.topnav {float: right;
}

img {margin: auto;
     display: block;
}	
